<!DOCTYPE html>

<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Image Caption Generator</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Acme&family=Akaya+Kanadaka&family=Allan:wght@400;700&family=Allerta&family=Briem+Hand:wght@100..900&family=Honk&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

    <nav>
        <img src="{{url_for('static', filename='clg.png')}}" alt="College-Logo">
        <div id="headline">
            <marquee behavior="scroll" direction="left" scrollamount="12" id="marquee-line" onmouseover="this.stop();" 
            onmouseout="this.start();">
                ADGIPS Final Year Major Project, Image Caption Generator, by G-106, including memebers Aditya
                Bora, Devesh Thakur, Devyank Nagpal and Gyanvendra Sharma under mentorship of Mrs. Nidhi Ruhil and
                supervision of Mr. Rakesh Kumar Arora and HOD Dr. Saurabh Gupta</marquee>
        </div>
    </nav>


    <div id="brand">
        <div class="brand-items" id="brand-item">
            <img src="{{url_for('static', filename='Logo.jpg')}}" alt="Caption-Generator" id="brand-logo">
            <h1>Image Caption<br>Generator</h1>
            <h2>Project in fulfilment of award for the degree of<br>BACHELOR OF TECHNOLOGY<br>in COMPUTER
                SCIENCE & ENGINEERING</h2>
        </div>
    </div>

    <div id="intro">
        <div id="intro-des">
            <h1>Overview</h1>
            <p>The ever-growing realm of deep learning offers a fascinating glimpse into the future of human-computer
                interaction. This project delves into one such application: automatic image caption generation. Our
                objective is to design a model that can bridge the gap between visual content and natural language
                descriptions. By harnessing the power of deep learning architectures, we aim to empower machines to
                "see"
                and interpret the world around them, and subsequently, express those observations in a
                human-understandable
                way. <br>
                This project centers around two fundamental deep learning models: Convolutional Neural Networks (CNNs)
                and
                Long Short-Term Memory (LSTM) networks. Each plays a vital role in the image captioning process. <br>
                <span class="material-symbols-outlined">chevron_right</span>
                <span class="headings">Unveiling the Visual: Convolutional Neural Networks (CNNs)</span> <br>
                CNNs excel in the domain of image recognition and feature extraction. They function as the initial
                gateway
                for our image caption generator. When an image is presented, the CNN acts as a meticulous observer,
                dissecting the visual content pixel by pixel. Through a series of intricate convolutional and pooling
                layers, the CNN extracts crucial features from the image. These features may encompass objects depicted,
                their spatial relationships, dominant colors, and even textures. The extracted features essentially
                become a concise representation of the image's visual essence, ready to be interpreted by the next stage. <br>
                <span class="figures"><img src="{{url_for('static', filename='cnn.jpg')}}" alt="CNN Model"><span>A LSTM-Based Neural Network Architecture</span></span><br>
                <span class="material-symbols-outlined">chevron_right</span>
                <span class="headings">Weaving the Narrative: Long Short-Term Memory (LSTMs)</span> <br>
                LSTMs, a specific type of Recurrent Neural Network (RNN), are ideally suited for handling sequential
                data like sentences. In our project, the LSTM assumes the role of the storyteller. It receives the distilled
                visual representation extracted by the CNN and begins to craft a narrative. Unlike a traditional
                feedforward network, LSTMs possess a unique memory capability, allowing them to consider not only the current
                extracted features but also the previously generated words in the caption. This enables the LSTM to build a
                coherent and contextually relevant description, word by word. <br>
                <span class="figures"><img src="{{url_for('static', filename='lstm.jpg')}}" alt="CNN Model"><span>A LSTM-Based Neural Network Architecture</span></span>
                
            </p>
        </div>
    </div>























    <div id="model">
        <h1>Upload Image<br>to generate a caption</h1>
        <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
            <button type="submit" class="upload load">
                <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
            </svg>
                </div>
                </div>
                <input type="file" name="image" accept="image/*" required class="file-input">
                <span>Choose an image</span>
            </button>




            <button type="submit" class="upload submit">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span>Upload</span>
              </button>
        </form>
    </div>






    <footer>
        <div id="memmat">
          
            <div id="member">
                <div id="pp"><img src="{{url_for('static', filename='pp3.jpg')}}" alt="PRofile 1" class="pp"><p class="members">Aditya Bora<br>(00515602720, 8th &thinsp;Sem, B.TECH CSE)<br>Led the development of the model and designed the implementation of user interface</p></div>
                <div id="pp"><img src="{{url_for('static', filename='pp4.jpg')}}" alt="PRofile 1" class="pp"><p class="members">Devesh Singh Kushwah<br>(04315602720, 8th &thinsp;Sem, B.TECH CSE)<br> Trained the model and focused on accuracy of the prediction of the caption of model</p></div>
                <div id="pp"><img src="{{url_for('static', filename='pp2.jpg')}}" alt="PRofile 1" class="pp"><p class="members">Devyank Nagpal<br>(04415602720, 8th &thinsp;Sem, B.TECH CSE)<br>Provided valuable insights through data analysis, and guiding key project decisions</p></div>
                <div id="pp"><img src="{{url_for('static', filename='pp1.jpg')}}" alt="PRofile 1" class="pp"><p class="members">Gyanvendra Sharma<br>(04815602720, 8th &thinsp;Sem, B.TECH CSE)<br>Managed project communication and documentation, keeping everyone informed
                </p></div>
            
            </div>
        </div>
        <p id="copyright">© 2020-2024 Image Caption Generator. All rights reserved.</p>
    </footer>



</body>

</html>